---
import Container from "./util/Container.astro";
import Preview from "./icons/Preview.astro";
import Terminal from "./icons/Terminal.astro";
import Headings from "./util/Headings.astro";
import PROJECTS from "./util/Projects";
---

<Container id="projects">
  <Headings><span>projects</span>( )</Headings>

  <div class="grid justify-items-center gap-10 md:grid-cols-2">
    {
      PROJECTS.map((project) => (
        <div class="">
          <img
            class="h-auto w-full rounded-t-xl"
            src={project.image}
            alt={`${project.title} image`}
          />

          <div class="flex flex-col space-y-3 pb-4 rounded-b-xl bg-blue-950/20 p-2.5 ">
            <div class="flex max-sm:flex-col justify-between max-sm:text-center">
              <h1 class="text-3xl font-medium text-mainGreen/90">
                {project.title}
              </h1>

              <div class="flex items-center max-sm:mx-auto max-sm:my-2 justify-evenly w-40 md:w-16 lg:w-28 xl:w-40">
              {project.tags.map((tag) => (
                  <tag.icon class="size-10"/>
                ))}
                </div>
            </div>
            
            <div class="flex justify-evenly [&_a]:w-fit ">
              <span class="w-full rounded-l-md py-2 text-center text-xl md:text-2xl">
                <a
                  class="mx-auto flex items-center gap-1.5 text-center transition hover:scale-110 hover:text-mainGreen"
                  target="_blank"
                  href={project.github}
                >
                  <Terminal />
                  Code
                </a>
              </span>
              <span class="border-x-2 border-mainGreen/55" />
              <span class="w-full rounded-r-md py-2 text-xl md:text-2xl">
                <a
                  class="mx-auto flex items-center gap-1.5 text-center transition hover:scale-110 hover:text-mainGreen "
                  target="_blank"
                  href={project.link}
                >
                  <Preview />
                  Preview
                </a>
              </span>
            </div>
            <p class="mx-2 line-clamp-5 pt-1 text-pretty font-semibold">
              {project.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Container>
