---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Container from "./util/Container.astro";
import Preview from "./icons/Preview.astro";
import Terminal from "./icons/Terminal.astro";
import Headings from "./util/Headings.astro";
import PROJECTS from "./util/Projects";
import Badge from "./util/Badge.astro";
import { getTranslation } from "src/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { urls, title } = t.projects;

const translatedProjects = PROJECTS.map((project) => ({
  ...project,
  description: getTranslation(lang, project.descriptionKey),
}));

console.log(translatedProjects);
---

<Container id="projects">
  <Headings><span>{title}</span>( )</Headings>

  <div class="grid justify-items-center gap-10 md:grid-cols-2">
    {
      translatedProjects.map((project) => (
        <div>
          <img
            class="aspect-video h-auto w-full rounded-t-xl"
            src={project.image}
            alt={`${project.title} image`}
          />

          <div class="flex flex-col space-y-3 rounded-b-xl bg-blue-950/20 p-2.5 pb-4">
            <div class="flex justify-between max-sm:flex-col max-sm:text-center">
              <h1 class="text-mainGreen/90 text-3xl font-medium max-xl:sm:text-2xl">
                {project.title}
              </h1>
            </div>

            <div class="flex justify-evenly [&_a]:w-fit">
              <span class="w-full rounded-l-md py-2 text-center text-xl md:text-2xl">
                <a
                  class="hover:text-mainGreen mx-auto flex items-center gap-1.5 text-center transition hover:scale-110"
                  target="_blank"
                  href={project.github}
                >
                  <Terminal />
                  {urls.code}
                </a>
              </span>
              <span class="border-mainGreen/55 border-x-2" />
              <span class="w-full rounded-r-md py-2 text-xl md:text-2xl">
                <a
                  class="hover:text-mainGreen mx-auto flex items-center gap-1.5 text-center transition hover:scale-110"
                  target="_blank"
                  href={project.link}
                >
                  <Preview />
                  {urls.preview}
                </a>
              </span>
            </div>
            <p class="mx-2 line-clamp-5 pt-1 font-semibold text-pretty">
              {project.description}
            </p>
            <div class="flex flex-wrap">
              {project.tags.map((tag) => (
                <Badge class={`${tag.class} mx-1.5 my-2`}>
                  <tag.icon class="mr-1.5 size-5" />
                  {tag.name}
                </Badge>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Container>
