---
import Container from "./util/Container.astro";
import { TAGS } from "./constants/Constants";
import Preview from "./icons/Preview.astro";
import Terminal from "./icons/Terminal.astro";
import Headings from "./util/Headings.astro";

const { FRONTEND } = TAGS;
const { TAILWIND: tailwind, REACT: react } = FRONTEND;
const techArray = [tailwind, react];
console.log(techArray)

const PROJECTS = [
  {
    title: "Game Finder Pro",
    description:
      "My standout project use an API to fetch data on video games, offering users a seamless search experience with advanced filters. Each game has its dedicated page, providing detailed information. Furthermore, users have the option to save their favorite games within a dedicated library. This project showcases my expertise in API integration, data visualization, and user-centric design, making it a standout accomplishment.",
    link: "https://gamefinderpro.netlify.app/",
    github: "https://github.com/DayanVR/game_finder_pro",
    image: "/projects/game-finder.webp",
    tags: techArray,
  },
  {
    title: "Space Multi-Page",
    description:
      "I completed a Frontend Mentor challenge, building a multi-page space website using Tailwind CSS and React. The site features space technologies, astronaut crews, and destinations, all managed with JSON for efficient data handling. It's a modern and interactive platform that showcases my frontend skills and data management expertise.",
    link: "https://dayanvy-space-multi-page-website.netlify.app/",
    github: "https://github.com/DayanVR/space-multi-page-website",
    image: "/projects/space-multi.webp",
    tags: techArray,
  },
  {
    title: "Shortener Api",
    description:
      "I meticulously crafte the full-page layout following the design guidelines provided by Frontend Mentor. The result is a URL shortener API with a responsive navbar and the ability to copy shortened URLs. Notably, the shortened URLs are saved locally, ensuring data persistence across sessions.",
    link: "https://dayanvr-shortapi.netlify.app/",
    github: "https://github.com/DayanVR/Short_API",
    image: "/projects/short-api.webp",
    tags: techArray,
  },
  {
    title: "Countries Api",
    description:
      "I created a user-friendly website for exploring country information, using a template from Frontend Mentor challenges. Users can search, filter by region, and view detailed data with ease. The site includes a toggle dark mode for enhanced accessibility. It's designed to prioritize functionality and navigation ease, utilizing Tailwind CSS, Font Awesome icons, and Flowbite React components for a modern and efficient experience.",
    link: "https://dayanvr-restcountriesapi.netlify.app/",
    github: "https://github.com/DayanVR/rest_country_api",
    image: "/projects/countries-api.webp",
    tags: techArray,
  },
];
---

<Container id="projects">
  <Headings><span>projects</span>( )</Headings>

  <div class="grid justify-items-center gap-10 md:grid-cols-2">
    {
      PROJECTS.map((project) => (
        <div class="">
          <img
            class="h-auto w-full rounded-t-xl"
            src={project.image}
            alt={`${project.title} image`}
          />

          <div class="flex flex-col space-y-3 pb-4 rounded-b-xl bg-blue-950/20 p-2.5 ">
            <div class="flex max-sm:flex-col justify-between xl:justify-evenly max-sm:text-center">
              <h1 class="text-3xl font-medium text-mainGreen/90">
                {project.title}
              </h1>

              <div class="flex items-center max-sm:mx-auto max-sm:my-2 justify-evenly w-32 md:w-16 lg:w-28 xl:w-40">
              {project.tags.map((tag) => (
                  <tag.icon class="size-10"/>
                ))}
                </div>
            </div>
            
            <div class="flex justify-evenly [&_a]:w-fit ">
              <span class="w-full rounded-l-md py-2 text-center text-xl md:text-2xl">
                <a
                  class="mx-auto flex items-center gap-1.5 text-center transition hover:scale-110 hover:text-mainGreen"
                  target="_blank"
                  href={project.github}
                >
                  <Terminal />
                  Code
                </a>
              </span>
              <span class="border-x-2 border-mainGreen/55" />
              <span class="w-full rounded-r-md py-2 text-xl md:text-2xl">
                <a
                  class="mx-auto flex items-center gap-1.5 text-center transition hover:scale-110 hover:text-mainGreen "
                  target="_blank"
                  href={project.link}
                >
                  <Preview />
                  Preview
                </a>
              </span>
            </div>
            <p class="mx-2 line-clamp-5 pt-1 text-pretty font-semibold">
              {project.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Container>
