---
import Container from "./util/Container.astro";
import { TAGS, extraTags } from "./constants/Constants";
import Headings from "./util/Headings.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const frontendArray = Object.values(TAGS.FRONTEND);
const toolsArray = Object.values(TAGS.TOOLS);
const learningArray = Object.values(TAGS.LEARNING);
const extraTagsArray = Object.values(extraTags);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { title } = t.technologies;
---

<Container id="skills">
  <Headings class="max-sm:text-4xl"><span>{title}</span>( )</Headings>

  <div
    class="-mx-2 flex justify-around max-xl:flex-col max-xl:space-y-10 md:-mx-12 xl:-mx-0"
  >
    <section
      class="h-fit space-y-10 rounded-xl bg-gradient-to-r from-blue-800/20 to-black to-70% py-6 sm:mx-32 md:mx-56 xl:mx-2 xl:w-72 2xl:w-80 [&_h1]:text-center"
    >
      <h2
        class="[&_span]:text-mainGreen mb-14 text-center text-3xl sm:text-4xl 2xl:text-5xl"
      >
        <span>frontend</span>[ ]
      </h2>
      <div
        class="grid grid-flow-col grid-rows-2 gap-y-10 px-10 xl:mx-2 xl:grid-rows-2 xl:px-0"
      >
        {
          frontendArray.map((tag) => (
            <span class="space-y-2">
              <tag.icon class={`mx-auto size-12`} />
              <h2 class="text-center font-semibold opacity-65 sm:text-xl">
                {tag.name}
              </h2>
            </span>
          ))
        }
      </div>
    </section>

    <section
      class="h-fit space-y-10 rounded-xl bg-gradient-to-r from-blue-800/20 to-black to-70% py-6 sm:mx-32 md:mx-56 xl:mx-2 xl:w-72 2xl:w-80 [&_h1]:text-center"
    >
      <h2
        class="[&_span]:text-mainGreen mb-14 text-center text-3xl sm:text-4xl 2xl:text-5xl"
      >
        <span>tools</span>[ ]
      </h2>
      <div
        class="grid grid-flow-col grid-rows-2 gap-y-8 px-10 xl:mx-6 xl:px-0 2xl:grid-cols-2"
      >
        {
          toolsArray.map((tag) => (
            <span class="space-y-2">
              <tag.icon class={`mx-auto size-12`} />
              <h2 class="text-center font-semibold opacity-65 sm:text-xl">
                {tag.name}
              </h2>
            </span>
          ))
        }
      </div>
    </section>
    <section
      class="h-fit space-y-10 rounded-xl bg-gradient-to-r from-blue-800/20 to-black to-70% py-6 sm:mx-32 md:mx-56 xl:mx-2 xl:w-72 2xl:w-80 [&_h1]:text-center"
    >
      <h2
        class="[&_span]:text-mainGreen mb-14 text-center text-3xl sm:text-4xl 2xl:text-5xl"
      >
        <span>learning</span>[ ]
      </h2>
      <div
        class="grid-flow-rows grid grid-rows-2 gap-y-8 px-10 xl:mx-6 xl:px-0"
      >
        {
          learningArray.map((tag) => (
            <span class="space-y-2">
              <tag.icon class={`mx-auto size-12`} />
              <h2 class="text-center font-semibold opacity-65 sm:text-xl">
                {tag.name}
              </h2>
            </span>
          ))
        }
      </div>
    </section>
  </div>

  <Headings class="my-16">
    <span>skills</span>( )
  </Headings>
  <ul class="flex justify-evenly gap-5 max-md:flex-col">
    {
      extraTagsArray.map((tag) => (
        <li class="text-xl opacity-75 lg:text-2xl xl:text-3xl">{tag}</li>
      ))
    }
  </ul>
</Container>
